html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(79, 85, 85);
  height: 100vh;
  width: 100%;
}

.total {
  background-color: rgb(177, 169, 169);
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgb(21, 17, 17);
  display: flex;
  flex-direction: column;
  height: 96vh;
}
.field {
  height: auto;
  border: 5px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
