
.total {
  height: 100%;
  width: 90vh;
  padding: 5px;
  
}

.head{
  display: flex;
  justify-content: center;
  background-color: rgb(206, 207, 209);
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(21, 17, 17);
}

.body {
  margin-top: 5px;
  max-height: 70vh;
  overflow: hidden;
  overflow-y: auto;
  background-color: rgb(178, 181, 184);
  box-shadow: 5px 5px 5px rgb(21, 17, 17);
}



.inputBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Changed from self-start */
  padding: 2%;
}

.inputBody input {
  width: 100%;
  height: auto; /* Increased input height for better touch interaction */
  padding: 5px; /* Added padding for better spacing */
  border: 1px solid #ccc; /* Added border for better input visibility */
  border-radius: 5px; /* Added border radius for styling */
}

.submit {
  display: flex;
  justify-content: center; /* Center button horizontally */
  align-items: center; /* Center button vertically */
  margin-top: 20px; /* Add margin to separate from other elements */
}

.submit button {
  height: 5vh;
  width: 40%;
  border: none; /* Removed border for a cleaner look */
  border-radius: 10px;
  background-color: rgb(149, 188, 241);
  color: black;
  font-size: medium;
  cursor: pointer; /* Add pointer cursor to indicate interactivity */
}

.submit button:hover {
  background-color: rgb(39, 18, 228);
  color: white;
}
