
.total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 223, 223);
    padding: 5%;
    margin: 5%;
    height: 1000px;
    width: 100%;
    border-radius: 10px;
    font-size: larger;
    /* overflow-y: auto;
    overflow-x: auto;
    scroll-behavior: smooth; */
  }

  .body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 5%;
    margin: 2%;
    margin-top: 5px;
    border-radius: 10px;
    max-width: 90%;
    overflow-y: auto; /* Use "auto" for automatic scrolling when content exceeds the container height */
    max-height: 95%; /* Set a maximum height to enable scrolling when the content exceeds this height */
  }

  .edit_btn{
    /* background-color: rgb(239, 239, 241); */
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 5%;
    
  }

  .edit_btn button {
    width: 15%;
  padding: 2%;
  margin: 1%;
  border-radius: 10px;
  background-color: rgb(149, 188, 241);
  color: black;
  font-size: medium;
  }

  .edit_btn button:hover {
    background-color: rgb(90, 75, 52);
    color: white;
  }



  .submit {
    /* background-color: rgb(124, 122, 118); */
    border-radius: 10px;
    height: 50px;
  }
  .submit button {
    /* height: 90%;
    width: 100%; */
    padding: 10%;
    margin: 1%;
    border-radius: 10px;
    background-color: rgb(149, 188, 241);
    color: black;
    font-size: medium;
  }
  .submit button:hover {
    background-color: rgb(39, 18, 228);
    color: white;
  }
  