.total {

  height: 100%;
  width: 90vh;
  padding: 5px;
}

.head{
  display: flex;
  justify-content: center;
  background-color: rgb(206, 207, 209);
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(21, 17, 17);
}

.body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 5%;
  margin: 2%;
  margin-top: 5px;
  border-radius: 10px;
  max-width: 90%;
  overflow-y: auto;
  max-height: 50vh;
  overflow: hidden;
  overflow-y: auto;
  /* background-color: rgb(178, 181, 184); */
  box-shadow: 5px 5px 5px rgb(21, 17, 17);
}

.edit_btn {
  /* background-color: rgb(239, 239, 241); */
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 5%;
}

.edit_btn button {
  width: 15%;
  padding: 2%;
  margin: 1%;
  border-radius: 10px;
  background-color: rgb(149, 188, 241);
  color: black;
  font-size: medium;
}

.edit_btn button:hover {
  background-color: rgb(90, 75, 52);
  color: white;
}

.submit {
  display: flex;
  justify-content: center; /* Center button horizontally */
  margin-top: 20px;
}
.submit button {
  height: 5vh;
  width: 40%;
  border: none; /* Removed border for a cleaner look */
  border-radius: 10px;
  background-color: rgb(149, 188, 241);
  color: black;
  font-size: medium;
  cursor: pointer; 
}
.submit button:hover {
  background-color: rgb(39, 18, 228);
  color: white;
}
